.content-container {
  border-bottom: 2px;
  padding: 2% 4% 2% 2%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
  display: block;

  .newslist {
    position: relative;
    top: 140px;
    left: 12vw;
    padding: 2% 5%;
    margin-left: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .newscard {
      display: flex;
      text-decoration: none;
      color: black;
      border: 0.5px solid transparent;
      border-radius: 10px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2),
        -1px -1px 2px 1px rgba(0, 0, 0, 0.2);
      margin: 20px;
      align-items: center;
      padding: 5px;
      max-width: 70vw;

      .newsimg {
        height: 20%;
        width: 20%;
        padding: 5px;
        border-radius: 10px;
      }

      .newscontent {
        padding: 5px;
        line-height: 25px;
      }
    }
    .loadmore-btn {
      font-size: 20px;
      border: none;
      color: var(--primary-color);
      background-color: white;
      &:hover {
        cursor: pointer;
        background-color: rgb(234, 250, 250);
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .content-container {
    margin: 0;
    transition: all 0.3s;
  }

  .sidebar {
    display: none !important;
  }

  .sidebar-open {
    transition: all 0.3s;
    transform: translate3d(0, 0, 0);
  }

  .newslist {
    left: 0;
  }
}
