.sidebar {
  position: fixed;
  top: 100px;
  display: flex;
  flex-direction: column;
  width: 10%;
  min-width: 120px;
  height: 100%;
  margin-top: 20px;
  margin-left: 15vw;
  text-align: center;
  border-right: 1px solid transparent;
  box-shadow: 2px 2px 0.1px 0.1px rgba(0, 0, 0, 0.2);
  z-index: 100;

  .category-btn {
    width: 100%;
    padding: 10px;
    align-items: center;
    height: 50px;
    margin: 5px 0px;
    text-decoration: none;
    color: var(--primary-color);
    background-color: white;
    border: none;
  }
  .category-btn:hover {
    cursor: pointer;
    background-color: rgb(234, 250, 250);
  }
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none !important;
  }

  .sidebar-open {
    transition: all 0.3s;
    transform: translate3d(0, 0, 0);
  }
}
